<section class="abstract">
  <article><%= render_markdown('intro') %></article>
  <article><%= render_markdown('background') %></article>
  <article><%= render_markdown('who') %></article>
</section>

<section class="concrete">
  <article><%= render_markdown('toc') %><article>
</section>

<footer>
  <span>Written by Adam Wiggins, specialized by Tom the Bombadil</span>
  <span><a href="http://github.com/destructuring/12factors">Sourcecode</a></span>
</footer>
